

<!-- begin right-content -->
<div class="right-content" xmlns="http://www.w3.org/1999/html">
    <!-- begin login-header -->
    <div class="login-header">
        <div class="brand">
            <span class="brand-logo" style="border:none"> <img src="{{ asset('img/landing/user/user-4.jpg') }} style="width: 40px;"/></span> <b>Login</b>
            <small> </small>
        </div>
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <div class="login-content">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="margin-bottom-0">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            {% if error %}
                <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
            {% endif %}
            <div class="form-group m-b-15">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control form-control-lg" placeholder="{{ 'email.username'|trans }}" />
            </div>
            <div class="form-group m-b-15">
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control form-control-lg" placeholder="{{ 'password'|trans }}" />
            </div>
            <div class="checkbox checkbox-css m-b-30">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">
                    {{ 'remember.me'|trans }}
                </label>
            </div>
            <div class="login-buttons">
                <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-lg">{{ 'sign.in'|trans }}</button>
            </div>
            <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                <a href="{{ path('fos_user_registration_register') }}" class="text-success">Registrarse</a>
            </div>
            <hr />
            <p class="text-center text-grey-darker">
                &copy; E-Z Blockchain All Right Reserved 2018
            </p>
        </form>
    </div>
    <!-- end login-content -->
</div>
<!-- end right-container -->