<div id="client" class="content has-bg bg-green" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="{{ asset('img/landing/bg/bg-client.jpg') }}" alt="Client" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInUp">
        <h2 class="content-title">{{ 'ld.home.testimonials.title'|trans }}</h2>
        <!-- begin carousel -->
        <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
            <!-- begin carousel-inner -->
            <div class="carousel-inner text-center">
                <!-- begin item -->
                <div class="item active">
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        {{ 'ld.home.testimonials.one'|trans }}
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <div class="name"> — <span class="text-theme">Cristian Francos</span>, {{ 'ld.home.testimonials.dev'|trans }}</div>
                </div>
                <!-- end item -->
                <!-- begin item -->
                <div class="item">
                    <blockquote>
                        <i class="fa fa-quote-left"></i>
                        {{ 'ld.home.testimonials.two'|trans }}
                        <i class="fa fa-quote-right"></i>
                    </blockquote>
                    <div class="name"> — <span class="text-theme">Ernesto Campos</span>, CEO</div>
                </div>
                <!-- end item -->
            </div>
            <!-- end carousel-inner -->
            <!-- begin carousel-indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1" class=""></li>
            </ol>
            <!-- end carousel-indicators -->
        </div>
        <!-- end carousel -->
    </div>
    <!-- end containter -->
</div>