<div id="home" class="content has-bg home">
    <!-- begin content-bg -->
    <div class="content-bg">
        <img src="{{ asset('img/landing/bg/bg-home.jpg') }}" alt="Home" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container home-content">
        <h1>{{ 'ld.home.welcome'|trans }}</h1>
        <h3>{{ 'ld.home.welcome.sub'|trans }}</h3>
        <p>
        </p>
        <a href="#about" class="btn btn-theme">{{ 'ld.home.know.more'|trans }}</a> <a href="#pricing" class="btn btn-outline">{{ 'ld.home.pricing'|trans }}</a><br />
        <br />
        {#or <a href="#">subscribe</a> newsletter#}
    </div>
    <!-- end container -->
</div>