<div id="team" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">{{ 'ld.home.our.team.title'|trans }}</h2>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="team">
                    <div class="image" data-animation="true" data-animation-type="flipInX">
                        <img src="{{ asset('img/landing/user/user-3.jpg') }}" alt="Mia Donovan" />
                    </div>
                    <div class="info">
                        <h3 class="name">Guillermo</h3>
                        <div class="title text-theme">{{ 'ld.home.our.team.founder'|trans }}</div>
                        {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>#}

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="team">
                    <div class="image" data-animation="true" data-animation-type="flipInX">
                        <img src="{{ asset('img/landing/user/user-3.jpg') }}" alt="Mia Donovan" />
                    </div>
                    <div class="info">
                        <h3 class="name">Miguel Ángel</h3>
                        <div class="title text-theme">{{ 'ld.home.our.team.founder'|trans }}</div>
                        {#<p>Donec quam felis, ultricies nec, pellentesque eu sem. Nulla consequat massa quis enim.</p>#}

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="team">
                    <div class="image" data-animation="true" data-animation-type="flipInX">
                        <img src="{{ asset('img/landing/user/user-3.jpg') }}" alt="Mia Donovan" />
                    </div>
                    <div class="info">
                        <h3 class="name">Luciano</h3>
                        <div class="title text-theme">{{ 'ld.home.our.team.founder'|trans }}</div>
                        {#<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>#}

                    </div>
                </div>
                <!-- end team -->
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-2 col-sm-2">
            </div>
            <!-- begin col-6 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="team">
                    <div class="image" data-animation="true" data-animation-type="flipInX">
                        <img src="{{ asset('img/landing/user/user-3.jpg') }}" alt="Mia Donovan" />
                    </div>
                    <div class="info">
                        <h3 class="name">Rodrigo</h3>
                        <div class="title text-theme">{{ 'ld.home.our.team.founder'|trans }}</div>
                        {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>#}

                    </div>
                </div>
                <!-- end team -->
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-4 col-sm-4">
                <!-- begin team -->
                <div class="team">
                    <div class="image" data-animation="true" data-animation-type="flipInX">
                        <img src="{{ asset('img/landing/user/user-3.jpg') }}" alt="Mia Donovan" />
                    </div>
                    <div class="info">
                        <h3 class="name">Martín</h3>
                        <div class="title text-theme">{{ 'ld.home.our.team.founder'|trans }}</div>
                        {#<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>#}

                    </div>
                </div>
                <!-- end col-6 -->
                <!-- end team -->
            </div>
            <div class="col-md-2 col-sm-2">
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>