{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
        Registrarse
        <small>Creá tu cuenta de E-Z Blackchain.</small>
    </h1>
    <!-- end register-header -->
    <!-- begin register-content -->
    <div class="register-content">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'margin-bottom-0'}}) }}

        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'sign.up'|trans }}</button>
        </div>
        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
            Ya tenés usuario de E-Z Blockchain? Hacé click <a href="{{ path('fos_user_security_login') }}">acá</a> para ingresar.
        </div>
        <hr />
        <p class="text-center">
            &copy; E-Z Blockchain All Right Reserved 2018
        </p>
        {{ form_end(form) }}
    </div>
    <!-- end register-content -->
</div>