{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} {{ 'db.idx.title'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'dashboard' })) }}
{% endblock %}

{% block page_header %}
    {{ 'db.idx.header.title'|trans }} <small>{{ 'db.idx.header.subtitle'|trans }}.</small>
{% endblock %}

{% block content %}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-4 col-md-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>{{ 'db.idx.stats.total.transactions'|trans|upper }}</h4>
                    <p>{{ getBcLogs(app.user) }}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">{{ 'db.idx.stats.view.details'|trans }} <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-4 col-md-6">
            <div class="widget widget-stats bg-orange">
                <div class="stats-icon"><i class="fa fa-wallet"></i></div>
                <div class="stats-info">
                    <h4>{{ 'db.idx.stats.my.wallets'|trans|upper }}</h4>
                    <p>{{ app.user.wallets|length }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('app_wallet_my', { id: app.user.id }) }}">{{ 'db.idx.stats.view.details'|trans }} <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-4 col-md-6">
            <div class="widget widget-stats bg-grey-darker">
                <div class="stats-icon"><i class="fa fa-link"></i></div>
                <div class="stats-info">
                    <h4>{{ 'db.idx.stats.my.apis'|trans|upper }}</h4>
                    <p>{{ getApisQty(app.user) }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('app_api_management_my', { id: app.user.id }) }}">{{ 'db.idx.stats.view.details'|trans }} <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-lg-8">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="index-5">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">{{ 'db.idx.panel.latest.logs.title'|trans|upper }}</h4>
                </div>
                <div class="panel-body">
                    <div class="height-sm" data-scrollbar="true">
                        <ul class="media-list media-list-with-divider media-messaging">
                            <li class="media media-sm">
                                <a href="javascript:;" class="pull-left">
                                    <img src="../assets/img/user/user-5.jpg" alt="" class="media-object rounded-corner" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">{{ testFunction('Migue') }}</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id nunc non eros fermentum vestibulum ut id felis. Nunc molestie libero eget urna aliquet, vitae laoreet felis ultricies. Fusce sit amet massa malesuada, tincidunt augue vitae, gravida felis.</p>
                                </div>
                            </li>
                            <li class="media media-sm">
                                <a href="javascript:;" class="pull-left">
                                    <img src="../assets/img/user/user-6.jpg" alt="" class="media-object rounded-corner" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Terry Ng</h5>
                                    <p>Sed in ante vel ipsum tristique euismod posuere eget nulla. Quisque ante sem, scelerisque iaculis interdum quis, eleifend id mi. Fusce congue leo nec mauris malesuada, id scelerisque sapien ultricies.</p>
                                </div>
                            </li>
                            <li class="media media-sm">
                                <a href="javascript:;" class="pull-left">
                                    <img src="../assets/img/user/user-8.jpg" alt="" class="media-object rounded-corner" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Fiona Log</h5>
                                    <p>Pellentesque dictum in tortor ac blandit. Nulla rutrum eu leo vulputate ornare. Nulla a semper mi, ac lacinia sapien. Sed volutpat ornare eros, vel semper sem sagittis in. Quisque risus ipsum, iaculis quis cursus eu, tristique sed nulla.</p>
                                </div>
                            </li>
                            <li class="media media-sm">
                                <a href="javascript:;" class="pull-left">
                                    <img src="../assets/img/user/user-7.jpg" alt="" class="media-object rounded-corner" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">John Doe</h5>
                                    <p>Morbi molestie lorem quis accumsan elementum. Morbi condimentum nisl iaculis, laoreet risus sed, porta neque. Proin mi leo, dapibus at ligula a, aliquam consectetur metus.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-lg-4">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="index-6">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">{{ 'db.idx.panel.pricing.title'|trans|upper }}</h4>
                </div>
                <div class="panel-body p-t-0">
                    <div class="table-responsive">
                        <table class="table table-valign-middle">
                            <thead>
                            <tr>
                                <th>Source</th>
                                <th>Total</th>
                                <th>Trend</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label class="label label-danger">Unique Visitor</label></td>
                                <td>13,203 <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                                <td><div id="sparkline-unique-visitor"></div></td>
                            </tr>
                            <tr>
                                <td><label class="label label-warning">Bounce Rate</label></td>
                                <td>28.2%</td>
                                <td><div id="sparkline-bounce-rate"></div></td>
                            </tr>
                            <tr>
                                <td><label class="label label-success">Total Page Views</label></td>
                                <td>1,230,030</td>
                                <td><div id="sparkline-total-page-views"></div></td>
                            </tr>
                            <tr>
                                <td><label class="label label-primary">Avg Time On Site</label></td>
                                <td>00:03:45</td>
                                <td><div id="sparkline-avg-time-on-site"></div></td>
                            </tr>
                            <tr>
                                <td><label class="label label-default">% New Visits</label></td>
                                <td>40.5%</td>
                                <td><div id="sparkline-new-visits"></div></td>
                            </tr>
                            <tr>
                                <td><label class="label label-inverse">Return Visitors</label></td>
                                <td>73.4%</td>
                                <td><div id="sparkline-return-visitors"></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
{% endblock %}
