{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'api.detail.title'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'wallet' })) }}
{% endblock %}

{% block page_header %}
    {{ 'api.detail.header.title'|trans }} <small>{{ 'api.detail.header.subtitle'|trans }}.</small>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin #accordion -->
            <div id="accordion" class="card-accordion">
                    <!-- begin card -->
                    <div class="card">
                        <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#chain{{ aep.id }}">
                            #{{ aep.id }} {{ aep.name }}
                        </div>
                        <div id="chain{{ aep.id }}" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <p>{{ 'bct.detail.item.wallet'|trans }}: <a href="{{ path('app_wallet_info', { id: aep.wallet.id }) }}">{{ aep.wallet.formLabel }}</a></p>
                                {% set apiUrl = url('app_rest_api_consume', { id: aep.id, hash:'YOUR_FILE_HASH' }) %}
                                <p>{{ 'aep.detail.item.url'|trans }}: {{ apiUrl }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('app_api_management_stats', { id: aep.id }) }}" class="btn btn-sm btn-primary m-r-2">{{ 'api.idx.panel.list.transactions'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
            </div>
            <!-- end #accordion -->
        </div>
        <!-- end col-12 -->
    </div>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn"></div>
                    <h4 class="panel-title">{{ 'bct.idx.panel.title.latest'|trans }}</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    {{ include('@App/BcTransaction/list.html.twig') }}
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
{% endblock %}