{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="panel-body">
    {{ form_start(form, { 'action': (aep.id is not null) ? path('app_api_management_edit_end_point', { id: aep.id }) : path('app_api_management_new_end_point') }) }}
        <fieldset>
            <legend class="m-b-15">{{ 'api.form.subtitle'|trans }}</legend>

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.user) }}
                {{ form_row(form.wallet) }}
            {% endif %}

            <button type="submit" class="btn btn-sm btn-primary m-r-5">{{ 'api.form.save'|trans }}</button>
            <a href="{{ path('app_api_management_index')}}" class="btn btn-sm btn-default">{{ 'api.form.cancel'|trans }}</a>
        </fieldset>
    {{ form_end(form) }}
</div>