<ul class="nav">
    <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
            <div class="cover with-shadow"></div>
            <div class="image">
                <img src="{{ asset('img/admin/user/user.jpg') }}" alt="" />
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="info">
                    <b class="caret pull-right"></b>
                    {{ app.user.fullName }}
                    {#<small>Front end developer</small>#}
                </div>
            {% endif %}
        </a>
    </li>
    <li>
        <ul class="nav nav-profile">
            <li><a href="{{ path('app_user_edit', { id: app.user.id }) }}"><i class="fa fa-cog"></i> {{ 'app.sb.hd.edit.profile'|trans }}</a></li>
            <li><a href="#"><i class="fa fa-pencil-alt"></i> {{ 'app.sb.hd.send.feedback'|trans }}</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i> {{ 'app.sb.hd.faq'|trans }}</a></li>
        </ul>
    </li>
</ul>