<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">

        <!-- begin sidebar user -->
        {{ include('backend/sidebar_profile.html.twig') }}
        <!-- end sidebar user -->

        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">{{ 'navigation'|trans }}</li>
            <li class="active">
                <a href="{{ path('backend_dashboard') }}">
                    <i class="fa fa-home"></i>
                    <span>{{ 'home'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>{{ 'transactions'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_wallet_my', { id: app.user.id }) }}">
                    <i class="fa fa-wallet"></i>
                    <span>{{ 'my.wallets'|trans }}</span>
                </a>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>