{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="panel-body">
    {{ form_start(form, { 'action': wallet.id ? path('app_wallet_edit', { id: wallet.id }) : path('app_wallet_new', { id: wallet.user.id }) }) }}
        <fieldset>
            <legend class="m-b-15">{{ 'wallet.form.subtitle'|trans }}.</legend>

            {{ form_row(form.walletKey) }}
            {{ form_row(form.pKey) }}
            {{ form_row(form.bcType) }}
            {{ form_row(form.bcMode) }}
            {{ form_row(form.description) }}

            <button type="submit" class="btn btn-sm btn-primary m-r-5">{{ 'wallet.form.save'|trans }}</button>
            <a href="{{ is_granted('ROLE_ADMIN') ? path('app_wallet_index') : path('app_wallet_my', { id: app.user.id }) }}" class="btn btn-sm btn-default">{{ 'wallet.form.cancel'|trans }}</a>
        </fieldset>
    {{ form_end(form) }}
</div>