<!-- begin table-responsive -->
<div class="table-responsive">
    <table class="table table-striped m-b-0">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'wallet.idx.panel.title.block.chain'|trans }}</th>
            <th>{{ 'wallet.idx.panel.title.description'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>{{ 'idx.panel.title.user'|trans }}</th>
            <th>{{ 'idx.panel.title.status'|trans }}</th>
            {% endif %}
            <th>{{ 'idx.panel.title.creation.date'|trans }}</th>
            <th width="1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.id }}</td>
                <td>{{ wallet.bcType|capitalize }}</td>
                <td>{{ (wallet.description) ? wallet.description|slice(0, 60) ~ '...' : 'wallet.idx.panel.list.no.description'|trans }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ wallet.user.username }}</td>
                <td>{{ wallet.enabled ? 'idx.list.enabled'|trans : 'idx.list.disabled'|trans }}</td>
                {% endif %}
                <td>{{ wallet.createdDate|date('Y-m-d') }}</td>
                <td class="with-btn" nowrap>
                    <a href="{{ path('app_wallet_edit', { id: wallet.id }) }}" class="btn btn-sm btn-primary m-r-2">{{ 'wallet.idx.panel.list.edit'|trans }}</a>
                    <a href="{{ path('app_wallet_info', { id: wallet.id }) }}" class="btn btn-sm btn-white m-r-2">{{ 'wallet.idx.panel.list.more.info'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_wallet_change_status', { id: wallet.id }) }}" class="btn btn-sm {{ wallet.enabled ? 'btn-danger' : 'btn-green' }}">
                            {{ wallet.enabled ? 'idx.status.btn.disable'|trans : 'idx.status.btn.enable'|trans }}
                        </a>
                        <a href="{{ path('app_wallet_delete', { id: wallet.id }) }}" class="btn btn-sm btn-danger">{{ 'user.idx.delete.btn'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="with-img"></td>
                <td>---</td>
                <td>{{ 'wallet.idx.panel.list.no.wallet'|trans }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>---</td>
                <td>---</td>
                {% endif %}
                <td class="with-btn" nowrap>
                    <a href="{{ path('app_wallet_new', { id: user.id }) }}" class="btn btn-sm btn-primary m-r-2">{{ 'wallet.idx.panel.list.new'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- end table-responsive -->