{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'user.idx.title'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'admin_users' })) }}
{% endblock %}

{% block page_header %}
    {{ 'user.idx.header.title'|trans }} <small>{{ 'user.idx.header.subtitle'|trans }}.</small>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <a href="{{ path('app_user_new') }}" class="btn btn-primary">{{ 'user.idx.new.btn'|trans }}</a>
        </div>
        <!-- end col-12 -->
    </div>
    <br>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="table-basic-7">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn"></div>
                    <h4 class="panel-title">{{ 'user.idx.panel.title'|trans }}</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table class="table table-striped m-b-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'user.idx.panel.title.name'|trans }}</th>
                                <th>{{ 'user.idx.panel.title.email'|trans }}</th>
                                <th>{{ 'user.idx.panel.title.type'|trans }}</th>
                                <th>{{ 'user.idx.panel.title.enabled'|trans }}</th>
                                <th width="1%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.fullName }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.type }}</td>
                                    <td>{{ user.enabled ? 'user.idx.list.enabled'|trans : 'user.idx.list.disabled'|trans }}</td>
                                    <td class="with-btn" nowrap>
                                        <a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-sm btn-primary m-r-2">{{ 'user.idx.edit.btn'|trans }}</a>
                                        <a href="#" class="btn btn-sm btn-white m-r-2">{{ 'user.idx.list.transactions'|trans }}</a>
                                        <a href="{{ path('app_wallet_my', { id: user.id }) }}" class="btn btn-sm btn-white m-r-2">{{ 'user.idx.list.wallets'|trans }}</a>
                                        <a href="#" class="btn btn-sm {{ user.enabled ? 'btn-danger' : 'btn-green' }}">{{ 'user.idx.status.btn'|trans }}</a>
                                        <a href="#" class="btn btn-sm btn-danger">{{ 'user.idx.delete.btn'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
{% endblock %}