{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'bc.idx.title'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'admin_blockchain' })) }}
{% endblock %}

{% block page_header %}
    {{ 'bc.idx.header.title'|trans }} <small>{{ 'bc.idx.header.subtitle'|trans }}.</small>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <a href="{{ path('adm_bc_new') }}" class="btn btn-primary">{{ 'bc.idx.new.btn'|trans }}</a>
        </div>
        <!-- end col-12 -->
    </div>
    <br>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin #accordion -->
            <div id="accordion" class="card-accordion">
                {% for chain in blockChains %}
                <!-- begin card -->
                <div class="card">
                    <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#chain{{ chain.id }}">
                        #{{ chain.id }} {{ chain.name|capitalize }}
                    </div>
                    <div id="chain{{ chain.id }}" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            {{ (chain.description) ? chain.description : 'bc.idx.list.no.description'|trans }}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('adm_bc_edit', { id: chain.id }) }}" class="btn btn-white btn-sm">{{ 'bc.idx.edit.btn'|trans }}</a>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                {% endfor %}
            </div>
            <!-- end #accordion -->
        </div>
        <!-- end col-12 -->
    </div>
{% endblock %}