{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'block.chain.new'|trans }}{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Navigation:sidebarComponent', { 'currentItem': 'admin_blockchain' })) }}
{% endblock %}

{% block page_header %}
    {{ 'block.chain.new'|trans }} <small>{{ 'fill.out.the.form'|trans }}.</small>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-lg-8">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">{{ 'block.chain.form'|trans }}</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                {{ include('@App/BlockChain/form.html.twig') }}
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->
    </div>
{% endblock %}
