<!-- begin sidebar nav -->
<ul class="nav">
    {% set isAdmin = 'admin' in currentItem %}
    <li class="nav-header">{{ 'navigation'|trans }}</li>
    <li class="{{ currentItem == 'dashboard' ? 'active' }}">
        <a href="{{ path('backend_dashboard') }}">
            <i class="fa fa-home"></i>
            <span>{{ 'home'|trans }}</span>
        </a>
    </li>
    <li class="{{ currentItem == 'transactions' ? 'active' }}">
        <a href="#">
            <i class="fa fa-link"></i>
            <span>{{ 'transactions'|trans }}</span>
        </a>
    </li>
    <li class="{{ currentItem == 'wallet' ? 'active' }}">
        <a href="{{ path('app_wallet_my', { id: app.user.id }) }}">
            <i class="fa fa-wallet"></i>
            <span>{{ 'my.wallets'|trans }}</span>
        </a>
    <li class="has-sub {{ isAdmin ? 'active' }}">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fa fa-cogs"></i>
            <span>{{ 'menu.admin.options'|trans }}</span>
        </a>
        <ul class="sub-menu">
            <li class="{{ isAdmin and 'blockchain' in currentItem ? 'active' }}">
                <a href="{{ path('adm_bc_index') }}">{{ 'menu.block.chains'|trans }}</a>
            </li>
            <li class="{{ isAdmin and 'users' in currentItem ? 'active' }}">
                <a href="{{ path('app_user_index') }}">{{ 'menu.users'|trans }}</a>
            </li>
        </ul>
    </li>
    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>
<!-- end sidebar nav -->