<!-- begin sidebar nav -->
<ul class="nav">
    {% set isAdmin = 'admin' in currentItem %}
    <li class="nav-header">{{ 'app.sb.menu.navigation'|trans }}</li>
    <li class="{{ currentItem == 'dashboard' ? 'active' }}">
        <a href="{{ path('backend_dashboard') }}">
            <i class="fa fa-home"></i>
            <span>{{ 'app.sb.menu.home'|trans }}</span>
        </a>
    </li>
    <li class="{{ currentItem == 'transactions' ? 'active' }}">
        <a href="{{ path('app_bc_transaction_my', { id: app.user.id }) }}">
            <i class="fa fa-history"></i>
            <span>{{ 'app.sb.menu.transactions'|trans }}</span>
        </a>
    </li>
    <li class="{{ currentItem == 'wallet' ? 'active' }}">
        <a href="{{ path('app_wallet_my', { id: app.user.id }) }}">
            <i class="fa fa-wallet"></i>
            <span>{{ 'app.sb.menu.my_wallets'|trans }}</span>
        </a>
    </li>
    <li class="{{ currentItem == 'api_end_point' ? 'active' }}">
        <a href="{{ path('app_api_management_my', { id: app.user.id }) }}">
            <i class="fa fa-link"></i>
            <span>{{ 'app.sb.menu.aep'|trans }}</span>
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="has-sub {{ isAdmin ? 'active' }}">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fa fa-cogs"></i>
            <span>{{ 'app.sb.menu.admin_options'|trans }}</span>
        </a>
        <ul class="sub-menu">
            <li class="{{ isAdmin and 'blockchain' in currentItem ? 'active' }}">
                <a href="{{ path('adm_bc_index') }}">{{ 'app.sb.menu.admin.block_chains'|trans }}</a>
            </li>
            <li class="{{ isAdmin and 'users' in currentItem ? 'active' }}">
                <a href="{{ path('app_user_index') }}">{{ 'app.sb.menu.admin.users'|trans }}</a>
            </li>
            <li class="{{ isAdmin and 'wallet' in currentItem ? 'active' }}">
                <a href="{{ path('app_wallet_index') }}">{{ 'app.sb.menu.admin.wallets'|trans }}</a>
            </li>
            <li class="{{ isAdmin and 'api_end_point' in currentItem ? 'active' }}">
                <a href="{{ path('app_api_management_index') }}">{{ 'app.sb.menu.admin.aep'|trans }}</a>
            </li>
            <li class="{{ isAdmin and 'bc_transaction' in currentItem ? 'active' }}">
                <a href="{{ path('app_bc_transaction_index') }}">{{ 'app.sb.menu.admin.bc_transactions'|trans }}</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>
<!-- end sidebar nav -->